// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra Large tablets and desktops
$screen-xxl-min: 1440px;

//Border
$border: 1px solid #c9ced2;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extrax2 large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin flexContainer($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin lg-shadow($yposition) {
  box-shadow: 0 $yposition 4px #0000004d;
}

@mixin button($color, $border-color) {
  color: $color;
  font-size: 1.25rem;
  width: 100%;
  padding: 12px;
  margin: 6px 0 24px;
  border: solid 2px $border-color;
  border-radius: 4px;
  background-color: transparent;
}

html {
  font-family: "EB Garamond", serif;
}
.italic {
  font-style: italic;
}

//Navbar
.header-container {
  position: sticky;
  top: -70px;
  z-index: 1000;
}
.header {
  height: 72px;
  padding: 12px 24px;
  border-bottom: solid 2px #330066;
  background-color: #fff;
  nav {
    @include flexContainer(row, space-between, center);
    max-width: 1170px;
    margin: 0 auto;

    .logo {
      width: 5rem;
      vertical-align: middle;
      @include lg {
        width: 7rem;
      }
    }
  }

  .header-support {
    @include flexContainer(row, space-evenly, center);
    .hamburger {
      width: 2em;
    }
  }
}

.dummy {
  height: 2000px;
  background-color: burlywood;
  position: relative;
}

//Slider
.slider-parent {
  position: sticky;
  top: 0;
}
.wrapper__slider {
  width: 100%;
  position: relative;
  .slider {
    height: 400px;
    width: 100%;
    @include sm() {
      min-height: calc(100vh - 51vh);
    }
    background-color: black;
    overflow: hidden;
    .slider__holder {
      height: 100%;
      width: 300%;
      display: flex;
      flex-direction: row;
      /* TEXT */
      .slider__slide figcaption,
      h1,
      p {
        position: absolute;
        bottom: 120px;
        line-height: 120%;
        letter-spacing: -0.025em;
        color: white;
        width: 100%;
        font-size: 2rem;
        font-weight: 500;
        padding: 32px 24px;
        z-index: 100;
      }
      p {
        font-size: 1.1rem;
        bottom: 70px;
        font-weight: 400;
      }
      .slider__slide {
        width: calc(100% / 3);
        flex: 1;
        height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
      }
      .slider__slide:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent 0%, #00000089 100%);
      }
      #slide-0 {
        background-image: url(./images/slide1.webp);
      }
      #slide-1 {
        background-image: url(./images/slide2.webp);
      }
      #slide-2 {
        background-image: url(./images/slide3.webp);
      }
    }
    /* NAV */
    .slider__nav {
      display: flex;
      justify-content: center;
      position: absolute;
      right: 20px;
      bottom: 20px;
      background-color: #00000099;
      border-radius: 2px;
      .slider__anchor {
        height: 4px;
        width: 18px;
        position: relative;
        text-indent: -9999px;
        margin: 6px;
        padding: 6px 12px;
      }
      .slider__anchor--active {
        border: 1.5px solid #fff;
        border-radius: 1px;
      }
      .slider__anchor:before {
        content: "";
        position: absolute;
        height: 4px;
        width: 18px;
        background-color: dimgrey;
        transition: background 0.2s ease;
        top: 4px;
        left: 3px;
        border-radius: 1px;
      }
      .slider__anchor:hover:before {
        background-color: lightgrey;
      }
      .slider__anchor--active:before {
        background-color: #fff;
      }
    }
  }
}

//Progress bar
.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #e2e2e2;
  &::before {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(var(--width, 0) * 1%);
    min-width: 0%;
    max-width: 100%;
    background-color: #330066;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

//Calendar
.calendar-container {
  width: 100%;
  height: 300px;
  background-color: #b383bf;
  position: relative;
  z-index: 10;
}
.calendar {
  @include flexContainer(row, flex-start, center);
  width: inherit;
  height: inherit;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  transition: all 0.2s;
  transform: scale(0.98);
  a {
    color: #fff;
    text-decoration: none;
    min-width: 200px;
    margin: 0 24px;
  }
  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
  .calendar-item {
    @include flexContainer(column, space-evenly, flex-start);
    min-width: 200px;
    height: 200px;
    padding: 0 12px;
    border-radius: 6px;
    background: transparent;
    position: relative;
    z-index: -10;
    h2,
    span {
      margin: 6px 0;
    }
    h2 {
      font-style: italic;
      font-size: 1.5rem;
    }
    span {
      font-size: 1rem;
    }
    figure {
      background-image: url(./images/calendar1.webp);
      background-size: contain;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 2px solid #330066;
      border-radius: 6px;
      z-index: -1000;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 6px;
        background: linear-gradient(transparent, #00000052 100%);
      }
    }
    &:hover {
      h2 {
        text-decoration: underline;
      }
    }
  }
}
