// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra Large tablets and desktops
$screen-xxl-min: 1440px;

//Border
$border: 1px solid #c9ced2;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extrax2 large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin flexContainer($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin lg-shadow($yposition) {
  box-shadow: 0 $yposition 4px #0000004d;
}

@mixin button($color, $border-color) {
  color: $color;
  font-size: 1.25rem;
  width: 100%;
  padding: 12px;
  margin: 6px 0 24px;
  border: solid 2px $border-color;
  border-radius: 4px;
  background-color: transparent;
}

html {
  font-family: "EB Garamond", serif;
  background-color: #fff;
}
.italic {
  font-style: italic;
}
//Fix scrolling with sticky header
.nav {
  scroll-margin-top: 3rem;
}
.App > *:not(:first-child) {
  transition: all 0.25s ease-in-out;
}
.header-container,
.sidebar {
  z-index: 9990;
}
.hamburger-container {
  z-index: 9999;
}
.meeting-container,
.community,
.programs,
.values-container,
.goals-container,
.logo-container,
.footer-container {
  position: relative;
  z-index: 999;
}

//Navbar
.App > .header-container {
  position: sticky;
  top: 0px;
}
.header {
  height: 72px;
  padding: 12px 24px;
  border-bottom: solid 1px #330066;
  background-color: #fff;
  @include xxl() {
    border-bottom: 0;
  }
  nav {
    @include flexContainer(row, space-between, center);
    max-width: 1440px;
    margin: 0 auto;
    height: 48px;
    .text-logo {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      color: #330066;
      border-bottom: solid 2px #00000000;
      transition: border 0.25s ease-in-out;
      &:hover {
        border-bottom: solid 2px #330066;
      }
    }
    .logo {
      width: 5rem;
      vertical-align: middle;
      @include lg {
      }
    }

    ul {
      display: none;
      @include lg {
        display: block;
        @include flexContainer(row, space-evenly, center);
        a {
          padding: 6px 0;
          margin: 0 12px;
          width: 100%;
          border-bottom: 1px solid #33333300;
          font-size: 1.25rem;
          text-decoration: none;
          color: #333;
          transition: all 0.15s ease-in-out;
          &:hover {
            border-bottom: 1px solid #333;
            color: #000;
          }
        }
      }
    }
  }
}

//Hamburger icon
.hamburger-container {
  position: fixed;
  top: 20px;
  right: 30px;
  .hamburger {
    width: 2em;
    cursor: pointer;
  }
  @include lg {
    display: none;
  }
}
.close {
  top: 20px;
}

//Sidebar
.App > .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #fafafa;
  transform: translateX(100%);
  border-left: 1px solid #333;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  nav {
    padding: 72px 12px;
    width: inherit;
  }
  ul {
    width: 100%;
    @include flexContainer(column, flex-start, flex-start);
    a {
      padding: 12px 6px;
      width: 100%;
      border-bottom: 1px solid #3333336b;
      font-size: 1.25rem;
      text-decoration: none;
      color: #333;
      transition: all 0.15s ease-in-out;
      &:hover {
        background-color: #fae6fa;
      }
      &:active {
        background-color: #d9c7d9;
      }
    }
  }
  div {
    padding: 12px;
    background-color: #f7e8bd;
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
    margin: 0 auto;
    img {
      max-width: 200px;
      border-radius: 2px;
    }
  }
  @include lg {
    display: none;
  }
}
.visible {
  transform: translateX(0);
}

//Slider
.App > .slider-parent {
  position: relative;
}
.App > .stuck {
  position: sticky;
  top: -0.1px;
  z-index: 1;
}
.wrapper__slider {
  width: 100%;
  position: relative;
  .slider {
    height: 400px;
    width: 100%;
    @include sm() {
      min-height: calc(100vh - 51vh);
    }
    overflow: hidden;
    .slider__holder {
      height: 100%;
      width: 300%;
      display: flex;
      flex-direction: row;
      /* TEXT */
      .slider__slide figcaption,
      .slider__slide {
        width: calc(100% / 3);
        flex: 1;
        height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
      }
      .slider__slide:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          35deg,
          rgba(2, 0, 36, 0.9248949579831933) 0%,
          rgba(42, 42, 42, 0.553) 35%,
          rgba(42, 42, 42, 0.318) 70%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      #slide-0 {
        background-image: url(./images/slide1.webp);
      }
      #slide-1 {
        background-image: url(./images/slide2.webp);
      }
      #slide-2 {
        background-image: url(./images/slide3.webp);
      }
    }
    /* NAV */
    .slider__nav {
      display: flex;
      justify-content: center;
      position: absolute;
      right: 20px;
      bottom: 20px;
      background-color: #00000099;
      border-radius: 2px;
      @include xxl {
        right: 0;
      }
      .slider__anchor {
        height: 4px;
        width: 18px;
        position: relative;
        text-indent: -9999px;
        margin: 6px;
        padding: 6px 12px;
      }
      .slider__anchor--active {
        border: 1.5px solid #fff;
        border-radius: 1px;
      }
      .slider__anchor:before {
        content: "";
        position: absolute;
        height: 4px;
        width: 18px;
        background-color: dimgrey;
        transition: background 0.2s ease;
        top: 4px;
        left: 3px;
        border-radius: 1px;
      }
      .slider__anchor:hover:before {
        background-color: lightgrey;
      }
      .slider__anchor--active:before {
        background-color: #fff;
      }
    }
    .interface {
      width: 1440px;
      height: 49vh;
      background-color: transparent;
      top: 50%;
      left: 50%;
      @include xxl {
        position: absolute;
        transform: translate(-50%, -50%);
      }
      h1,
      p {
        position: absolute;
        bottom: 120px;
        line-height: 120%;
        letter-spacing: -0.025em;
        color: white;
        width: 100%;
        font-size: 2rem;
        font-weight: 500;
        padding: 24px 24px;
        z-index: 100;
        @include xxl {
          font-size: 2.5rem;
          padding-left: 0;
        }
      }
      p {
        font-size: 1.125rem;
        bottom: 60px;
        font-weight: 400;
        @include lg {
          font-size: 1.25rem;
        }
        @include xxl {
          font-size: 1.5rem;
        }
      }
    }
  }
}

//Progress bar
.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #e2e2e2;
  &::before {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(var(--width, 0) * 1%);
    min-width: 0%;
    max-width: 100%;
    background-color: #5c2196;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

//Meeting info
.meeting-container {
  height: 60vh;
  min-height: 440px;
  width: 100%;
  background-color: #fff;
  @include md {
    min-height: 220px;
    height: 40vh;
  }
  .meeting {
    @include flexContainer(column, center, center);
    height: inherit;
    max-width: 1440px;
    padding: 0 24px;
    margin: 0 auto;
    h3 {
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      font-style: italic;
      border-bottom: 2px solid black;
      padding-bottom: 6px;
      margin-bottom: 24px;
    }
    > span {
      font-weight: 600;
      display: block;
      text-align: center;
      @include md {
        font-size: 1.25rem;
      }
      a {
        color: #330066;
        text-decoration: none;
        &:hover {
          color: #330066c8;
          text-decoration: underline;
        }
      }
    }
    div {
      font-size: 1rem;
      font-weight: 500;
      margin: 24px 0;
      text-align: center;
      span {
        display: block;
        font-size: inherit;
        @include sm {
          display: inline;
        }
      }
    }
    .schedule {
      line-height: 1.5rem;
      margin: 0;
      span {
        font-size: 1.125rem;
        display: block;
      }
      @include md {
        display: none;
      }
      > div:last-child {
        margin-bottom: 0;
      }
    }
    .schedule-wide {
      width: 100%;
      padding: 30px 0 0;
      margin-bottom: 0;
      line-height: 1.75rem;
      display: none;
      @include md {
        @include flexContainer(row, space-evenly, center);
      }
      div {
        margin-top: 0;
      }
      span {
        display: block;
        @include md {
          font-size: 1.25rem;
        }
      }
    }
  }
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.25s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

//Calendar
.calendar-container {
  @include flexContainer(column, center, flex-start);
  width: 100%;
  height: 50vh;
  min-height: 640px;
  padding: 24px 0 36px;
  background-color: #f7e8bd;
  position: relative;
  z-index: 10;
  @include xxl {
    height: 425px;
  }
  h2 {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    padding-left: 24px;
    margin-bottom: 24px;
    max-width: 1440px;
    margin: 24px auto 12px;
    @include xxl {
      padding-left: 0;
    }
  }
  > div {
    width: 100%;
    background-color: #f7e8bd;
  }
  .arrow-right {
    width: 24px;
    margin-left: 6px;
    vertical-align: bottom;
  }
  .calendar {
    @include flexContainer(row, flex-start, center);
    width: inherit;
    height: 550px;
    max-width: 1440px;
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 30px;
    scroll-padding-right: 24px;
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    @include md() {
      scroll-snap-type: none;
    }
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    a {
      color: #fff;
      text-decoration: none;
      width: 250px;
      margin: 0 12px;
      transition: all 0.2s;
      transform: scale(1);
      cursor: pointer;
      box-shadow: 2px 2px 2px #333;
      &:hover {
        transform: scale(1.01);
      }
      &:first-child {
        margin-left: 24px;
        @include xxl() {
          margin-left: 0;
        }
      }
      &:last-child {
        margin-right: 24px;
      }
      &:hover {
        h3 {
          text-decoration: underline;
        }
      }
    }
    &.active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }
    .calendar-item {
      width: inherit;
      height: 250px;
      padding: 0 12px;
      position: relative;
      z-index: -10;
      scroll-snap-align: start;

      .f-1 {
        background-image: url(./images/calendar1.webp);
      }
      .f-2 {
        background-image: url(./images/calendar2.webp);
      }
      .f-3 {
        background-image: url(./images/calendar3.webp);
      }
      figure {
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 6px 6px 0 0;
        z-index: -1000;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 6px;
          background: rgb(100, 63, 152);
          background: linear-gradient(
            45deg,
            #1b4d3e,
            #123328a5,
            #2f876d2b,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
    }
    .description {
      background-color: #fefefe;
      color: #000;
      @include flexContainer(column, space-evenly, flex-start);
      width: inherit;
      height: 250px;
      padding: 0 12px;
      border-radius: 0 0 6px 6px;
      position: relative;
      z-index: -10;
      scroll-snap-align: start;
      h3,
      span {
        margin: 6px 0;
      }
      h3 {
        font-size: 1.25rem;
        font-weight: 600;
      }
      span {
        font-size: 1.125rem;
        font-weight: 500;
      }
    }
  }
}

//Hosted Programs
.events-container {
  background-color: #f8ebda;
  > div {
    background-color: inherit;
  }
  .events {
    background-color: inherit;
  }
  .calendar {
    .calendar-item {
      figure {
        &::before {
          background: rgb(100, 63, 152);
          background: linear-gradient(
            45deg,
            #0a2351,
            #0d2e6a6f 35%,
            #15459d2c 70%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
    }
  }
}

//Core Values
.values-container {
  height: 50vh;
  min-height: 440px;
  width: 100%;
  figure {
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    min-height: inherit;
    background-image: url("./images/values.webp");
    background-size: cover;
    background-position: center 45%;
    &::before {
      content: "";
      width: inherit;
      height: inherit;
      min-height: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        35deg,
        rgba(2, 0, 36, 0.9248949579831933) 0%,
        rgba(42, 42, 42, 0.745) 35%,
        rgba(42, 42, 42, 0.318) 70%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
  > div {
    @include flexContainer(column, space-evenly, center);
    height: inherit;
    min-height: inherit;
    width: inherit;
    padding: 0 24px;
    div {
      @include flexContainer(column, space-between, flex-start);
      color: #fff;
      text-align: left;
      @include sm {
        @include flexContainer(column, space-between, center);
      }
      span {
        font-size: 1.1rem;
        @include lg {
          font-size: 1.25rem;
        }
        @include xxl {
          font-size: 1.5rem;
        }
      }
      h3 {
        margin-bottom: 12px;
        font-size: 1.5rem;
        font-weight: 500;
        @include lg {
          font-size: 1.75rem;
        }
        span {
          font-size: inherit;
        }
      }
    }
  }
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.25s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

//Goal List
.goals-container {
  background-color: #fae6fa;
  .goals {
    @include flexContainer(column, space-between, center);
    padding: 60px 24px;
    margin: 0 auto;
    max-width: 1440px;
    ul {
      width: 100%;
      padding: 12px 4px 24px;
      background-color: #fff;
      border: 1px dotted #000;
      border-radius: 4px;
      @include sm {
        padding: 18px 32px 36px;
        border: 1px dotted #000;
        border-radius: 8px;
      }
      @include lg {
        width: auto;
      }
      h3 {
        width: fit-content;
        border-bottom: 2px dotted #333;
        font-size: 1.75rem;
        padding: 6px 12px;
        margin: 0 auto 24px;
        @include lg {
          font-size: 2rem;
        }
      }

      li {
        @include flexContainer(row, flex-start, flex-start);
        padding: 12px 6px;
        font-size: 1.1rem;
        color: #333;
        border-bottom: 1px solid #33333343;
        transition: all 0.15s ease-in-out;
        position: relative;
        @include md {
          padding: 12px 36px;
        }
        @include lg {
          font-size: 1.25rem;
        }
        &:hover {
          color: #000;
          border-bottom: 1px solid #333333;
        }
        span {
          line-height: 1.2rem;
        }
        span:first-child {
          padding-right: 6px;
        }
        .checkbox {
          display: none;
          @include sm {
            display: block;
            position: absolute;
            right: 0;
            width: 20px;
            align-self: center;
          }
        }
      }
    }
    .ibm {
      font-family: "IBM Plex Mono", monospace;
      font-size: 1rem;
      @include lg {
        font-size: 1.2rem;
      }
    }
  }
}

//Logo Strip
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 24px;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    .logos-slide {
      animation-play-state: paused;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    content: "";
    z-index: 9;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    content: "";
    z-index: 9;
  }
  .logos-slide {
    display: inline-block;
    animation: 14s slide infinite linear;
  }
  img {
    height: 40px;
    margin: 0 24px;
    @include md {
      margin: 0 36px;
    }
    @include lg {
      margin: 0 48px;
    }
    @include xl {
      margin: 0 60px;
    }
    @include xxl {
      margin: 0 72px;
    }
  }
}

//Footer
.footer {
  padding: 24px;
  background-color: #f9f7f4;
  .footer-list-2 {
    // border-top: 1px solid #333;
    // @include xxl {
    //   border-top: 1px solid #33333300;
    // }
    // li:first-child {
    //   border: 0;
    // }
    // li {
    //   font-size: 0.75rem;
    //   font-weight: 500;
    // }
    // button {
    //   background-color: transparent;
    //   padding: 0;
    // }
  }
  div {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    span {
      display: block;
      font-size: inherit;
      @include sm {
        display: inline;
      }
    }
  }
  .credits {
    @include md {
      @include flexContainer(row, space-between, center);
    }
    p,
    a {
      @include lg {
        font-size: 1.125rem;
      }
      @include xxl {
        font-size: 1.25rem;
      }
    }
  }
  .gov {
    @include flexContainer(row, space-evenly, center);
    margin-bottom: 24px;
    img {
      height: 36px;
      padding-right: 24px;
    }
    a {
      display: block;
      font-weight: 600;
      color: #330066;
      text-decoration: none;
      &:hover {
        color: #330066c8;
        text-decoration: underline;
      }
      @include md {
        padding: 0 12px;
      }
    }
    span {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
    }
    @include md {
      margin-bottom: 0px;
    }
  }
}
