// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra Large tablets and desktops
$screen-xxl-min: 1440px;

//Border
$border: 1px solid #c9ced2;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extrax2 large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin flexContainer($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin lg-shadow($yposition) {
  box-shadow: 0 $yposition 4px #0000004d;
}

@mixin button($color, $border-color) {
  color: $color;
  font-size: 1.25rem;
  width: 100%;
  padding: 12px;
  margin: 6px 0 24px;
  border: solid 2px $border-color;
  border-radius: 4px;
  background-color: transparent;
}

html {
  font-family: "EB Garamond", serif;
}
.italic {
  font-style: italic;
}
.App > *:not(:first-child) {
  position: relative;
}

//Navbar
.header-container {
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.header {
  height: 72px;
  padding: 12px 24px;
  border-bottom: solid 1px #330066;
  background-color: #f9f7f4;
  nav {
    @include flexContainer(row, space-between, center);
    max-width: 1170px;
    margin: 0 auto;

    .logo {
      width: 5rem;
      vertical-align: middle;
      @include lg {
        width: 7rem;
      }
    }
  }

  .header-support {
    @include flexContainer(row, space-evenly, center);
    .hamburger {
      width: 2em;
    }
  }
}

//Slider
.slider-parent {
  position: sticky;
  top: 0;
}
.wrapper__slider {
  width: 100%;
  position: relative;
  .slider {
    height: 400px;
    width: 100%;
    @include sm() {
      min-height: calc(100vh - 51vh);
    }
    overflow: hidden;
    .slider__holder {
      height: 100%;
      width: 300%;
      display: flex;
      flex-direction: row;
      /* TEXT */
      .slider__slide figcaption,
      h1,
      p {
        position: absolute;
        bottom: 120px;
        line-height: 120%;
        letter-spacing: -0.025em;
        color: white;
        width: 100%;
        font-size: 2rem;
        font-weight: 500;
        padding: 24px 24px;
        z-index: 100;
      }
      p {
        font-size: 1.1rem;
        bottom: 60px;
        font-weight: 400;
      }
      .slider__slide {
        width: calc(100% / 3);
        flex: 1;
        height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
      }
      .slider__slide:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          35deg,
          rgba(2, 0, 36, 0.9248949579831933) 0%,
          rgba(42, 42, 42, 0.553) 35%,
          rgba(42, 42, 42, 0.318) 70%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      #slide-0 {
        background-image: url(./images/slide1.webp);
      }
      #slide-1 {
        background-image: url(./images/slide2.webp);
      }
      #slide-2 {
        background-image: url(./images/slide3.webp);
      }
    }
    /* NAV */
    .slider__nav {
      display: flex;
      justify-content: center;
      position: absolute;
      right: 20px;
      bottom: 20px;
      background-color: #00000099;
      border-radius: 2px;
      .slider__anchor {
        height: 4px;
        width: 18px;
        position: relative;
        text-indent: -9999px;
        margin: 6px;
        padding: 6px 12px;
      }
      .slider__anchor--active {
        border: 1.5px solid #fff;
        border-radius: 1px;
      }
      .slider__anchor:before {
        content: "";
        position: absolute;
        height: 4px;
        width: 18px;
        background-color: dimgrey;
        transition: background 0.2s ease;
        top: 4px;
        left: 3px;
        border-radius: 1px;
      }
      .slider__anchor:hover:before {
        background-color: lightgrey;
      }
      .slider__anchor--active:before {
        background-color: #fff;
      }
    }
  }
}

//Progress bar
.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #e2e2e2;
  &::before {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(var(--width, 0) * 1%);
    min-width: 0%;
    max-width: 100%;
    background-color: #330066;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

//Calendar
.calendar-container {
  @include flexContainer(column, center, flex-start);
  width: 100%;
  height: 400px;
  padding: 12px 0;
  background-color: #e1d2a3;
  position: relative;
  z-index: 10;
  h2 {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    padding-left: 24px;
    margin: 12px 0;
  }
}
.arrow-right {
  width: 20px;
  margin-left: 6px;
  vertical-align: sub;
}
.calendar {
  @include flexContainer(row, flex-start, center);
  width: inherit;
  height: 300px;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 24px;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  @include md() {
    scroll-snap-type: none;
  }
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  a {
    color: #fff;
    text-decoration: none;
    width: 250px;
    margin: 0 12px;
    transition: all 0.2s;
    transform: scale(1);
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
    &:first-child {
      margin-left: 24px;
    }
    &:last-child {
      margin-right: 24px;
    }
  }
  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  .calendar-item {
    @include flexContainer(column, space-evenly, flex-start);
    width: inherit;
    height: 250px;
    padding: 0 12px;
    border-radius: 6px;
    background: transparent;
    position: relative;
    z-index: -10;
    scroll-snap-align: start;

    h3,
    span {
      margin: 6px 0;
    }
    h3 {
      font-size: 1.25rem;
      font-weight: 500;
    }
    span {
      font-size: 1.125rem;
    }
    .f-1 {
      background-image: url(./images/calendar1.webp);
    }
    .f-2 {
      background-image: url(./images/calendar2.webp);
    }
    .f-3 {
      background-image: url(./images/calendar3.webp);
    }
    figure {
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 2px solid #330066;
      border-radius: 6px;
      z-index: -1000;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 6px;
        background: rgb(100, 63, 152);
        background: linear-gradient(
          45deg,
          rgba(100, 63, 152, 0.923) 0%,
          rgba(116, 66, 187, 0.712) 35%,
          rgba(116, 66, 187, 0.597) 70%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
  }
}

//Core Values
.values-container {
  height: 300px;
  width: 100%;
  figure {
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-image: url("./images/values.webp");
    background-size: cover;
    background-position: center;
    &::before {
      content: "";
      width: inherit;
      height: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        35deg,
        rgba(2, 0, 36, 0.9248949579831933) 0%,
        rgba(42, 42, 42, 0.745) 35%,
        rgba(42, 42, 42, 0.318) 70%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  > div {
    @include flexContainer(column, space-evenly, center);
    height: inherit;
    width: inherit;
    padding: 0 24px;
    div {
      @include flexContainer(column, space-between, flex-start);
      color: #fff;
      text-align: left;
      span {
        font-size: 1.1rem;
      }
      h3 {
        margin-bottom: 12px;
        font-size: 1.5rem;
        font-weight: 500;
        span {
          font-size: inherit;
        }
      }
    }
  }
}

//Logo Strip
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  max-width: 1440px;
  background-color: #fff;
  padding: 30px 24px;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    .logos-slide {
      animation-play-state: paused;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
    content: "";
    z-index: 9;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    content: "";
    z-index: 9;
  }
  .logos-slide {
    display: inline-block;
    animation: 14s slide infinite linear;
  }
  img {
    height: 40px;
    margin: 0 24px;
  }
}

//Footer
.footer {
  padding: 30px 24px;
  background-color: #f9f7f4;
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 24px;
    text-align: center;
  }
  .schedule {
    margin: 24px 0;
    line-height: 1.25rem;
  }
  .footer-list-1 {
    > li {
      font-size: 0.875rem;
      font-weight: 600;
      > ul {
        display: none;
      }
    }
    button {
      padding: 0;
      background-color: transparent;
    }
    .expand {
      width: 0.7rem;
      margin-right: 2px;
    }
  }
  .footer-list-2 {
    border-top: 1px solid #333;
    // li:first-child {
    //   border: 0;
    // }
    // li {
    //   font-size: 0.75rem;
    //   font-weight: 500;
    // }
    // button {
    //   background-color: transparent;
    //   padding: 0;
    // }
  }
  .gov {
    @include flexContainer(row, space-evenly, flex-start);
    margin-top: 24px;
    img {
      height: 36px;
      padding-right: 24px;
    }
    span {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      a {
        display: block;
        font-weight: 600;
        color: #330066;
        text-decoration: none;
        &:hover {
          color: #330066c8;
          text-decoration: underline;
        }
      }
    }
  }
}
